<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>supportiq</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/iconsmind.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" <link href="{{url_for('static', filename='css/interface-icons.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{url_for('static', filename='css/owl.carousel.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{url_for('static', filename='css/theme.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">
    <div class="nav-container">
        <nav>
            <div class="nav-bar nav--absolute nav--transparent" data-fixed-at="700">
                <div class="nav-module logo-module left">
                    <a href="#"><img alt="logo" class="logo logo-dark" src="{{url_for('static', filename='img/logo.png')}}"> <img alt="logo" class="logo logo-light" src="{{url_for('static', filename='img/logo.png')}}"></a>
                </div>
                <div class="nav-module menu-module left">
                    <ul class="menu">
                        <li class="vpe">
                            <a href="" target="_blank">Login</a>
                        </li>
                        <li class="vpe">
                            <a href="" target="_blank">Sign up</a>
                        </li>
                        <li class="vpe">
                            <a href="" target="_blank">Docs</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-module menu-module right" style="padding-right: 20px;">
                    <a class="btn btn--primary vpe" href="" style="color: white;">Contact Us</a>
                </div>
            </div>
            <!-- <div class="nav-mobile-toggle visible-sm visible-xs">
                    <i class="icon-Align-JustifyAll icon icon--sm"></i>
                </div> -->
        </nav>
    </div>
    <div class="main-container">
        <section class="height-100 imagebg" data-overlay="0">
            <div class="background-image-holder">
                <img alt="image" src="{{url_for('static', filename='img/laborbg.png')}}">
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-md-11 col-sm-11">
                        <h3 style="color:#51555C;">Intelligent Supporter Management System and Fundraising platform for modern Non-profits</h3>
                        <p>
                            <div class="sub_text">Get maximum engagement out of your users</div>
                        </p>
                        <a class="btn btn--primary vpe" href="" target="_blank">
                            <span class="btn__text">
                                    Sign up now
                                </span>
                        </a>
                        <a class="btn btn--primary vpe" target="_blank" href="">
                            <span class="btn__text">
                                    Read the docs
                                </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="subscribe__title">
                        <h2 style="padding-bottom:10px;">Sample Use-Cases</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature boxed feature-1 text-center">
                            <i class="icon icon-Speach-BubbleDialog"></i>
                            <h5>Content Moderation</h5>
                            <p>Seamlessly moderate content quality by deploying trustworthy humans to look things over.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature boxed feature-1 text-center">
                            <i class="icon icon-Receipt-3"></i>
                            <h5>Data Extraction</h5>
                            <p>Transcribe text from receipts, bills, transcripts, and more with a single API call.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature boxed feature-1 text-center">
                            <i class="icon icon-Phone-2"></i>
                            <h5>Scheduling Appointments</h5>
                            <p>Have a human call offices and attendees to find the best times to meet.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature boxed feature-1 text-center">
                            <i class="icon icon-Line-Chart"></i>
                            <h5>Data Enriching</h5>
                            <p>Label and tag data for any type of machine learning algorithm in crazy little code.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature boxed feature-1 text-center">
                            <i class="icon icon-Phone"></i>
                            <h5>Get Information via Phone</h5>
                            <p>Lots of information is only accessible through calling businesses. Access it easily via Scale's REST API.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature boxed feature-1 text-center">
                            <i class="icon icon-Idea"></i>
                            <h5>Literally Anything Else</h5>
                            <p>We love working with developers and startups to bring their applications to life. <a href="/cdn-cgi/l/email-protection#fe969b929291be8d9d9f929b9f8e97d09d9193c1ad8b9c949b9d8ac3bd91908a9f9d8adbcccead9d9f929b">Contact us</a>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="features">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="subscribe__title">
                        <h2 style="padding-bottom:10px;">Deploy Humans With Code</h2>
                    </div>
                </div>
                <div class="col-sm-6 col-md-offset-3 text-center" style="padding-bottom:50px;">
                    Power any feature in your app with an on-demand fleet of human taskworkers. Whether you're looking to build a <b>rich human-augmented feature</b> or <b>streamline your current human processes</b>, Scale is the perfect solution.
                </div>
            </div>
            <div class="container">
                <img src="{{url_for('static', filename='img/diagram2.png')}}" />
            </div>
        </section>
        <section class="features features-10">
            <div class="feature bg--white col-md-4 text-center">
                <i class="icon icon--lg icon-Flash-2"></i>
                <h4>Responses in Minutes</h4>
                <p>
                    We return responses via webhooks in 5 minutes on average. We don't like waiting either.</p>
            </div>
            <div class="feature bg--primary col-md-4 text-center" style="background-color:#e27178;">
                <i class="icon icon--lg icon-Spell-Check"></i>
                <h4>Accurate, Quality Responses</h4>
                <p>
                    We screen and hand-pick our workers to make sure they do great work, and our accuracy is over 95%.</p>
            </div>
            <div class="feature bg--secondary col-md-4 text-center" style="background-color:white;">
                <i class="icon icon--lg icon-Coding"></i>
                <h4>Elegantly Simple</h4>
                <p>
                    Scale is the easiest way to build human-powered features. It's <b>100x</b> better than Mechanical Turk.</p>
            </div>
        </section>
        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="elements--title">
                            <h2 style="padding-bottom:10px;">Pricing</h2>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricing pricing-1 text-center">
                            <i class="icon icon--lg icon-Mustache-2"></i>
                            <h6>Starter</h6>
                            <div class="pricing__price">
                                <span class="h1">Free</span>
                            </div>
                            <hr>
                            <p>10 Requests For Free</p>
                            <a class="btn btn--primary vpe" href="" target="_blank">
                                <span class="btn__text">
                                        SIGN UP NOW</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricing pricing-1 text-center">
                            <i class="icon icon--lg icon-Mustache-3"></i>
                            <h6>Freelancer</h6>
                            <div class="pricing__price">
                                <span class="pricing__dollar h5">$</span>
                                <span class="h1">0.50</span>
                            </div>
                            <hr>
                            <p>$0.50 per request. Up to 1000 requests per month.</p>
                            <a class="btn btn--primary vpe" href="" target="_blank">
                                <span class="btn__text">
                                        SIGN UP NOW</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricing pricing-1 text-center">
                            <i class="icon icon--lg icon-Mustache-4"></i>
                            <h6>ENTERPRISE</h6>
                            <div class="pricing__price">
                                <span class="h1">Custom</span>
                            </div>
                            <hr>
                            <p>Contact us for up to 10x cheaper and custom endpoints.</p>
                            <a class="btn btn--primary vpe" href="#" data-toggle="modal" data-target="#myModal">
                                <span class="btn__text">CONTACT US</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="subscribe subscribe-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="subscribe__title">
                            <h4>Get Started Today.</h4>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-12">
                        <div class="row">
                            <a class="btn btn--primary vpe" href="" target="_blank">
                                <span class="btn__text">
                        Sign up now
                    </span>
                            </a>
                            <a class="btn btn--primary vpe" target="_blank" href="">
                                <span class="btn__text">
                        Read the docs
                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="{{url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/scrollreveal.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/parallax.js')}}"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>
