<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>supportiq</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/iconsmind.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" <link href="{{url_for('static', filename='css/interface-icons.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{url_for('static', filename='css/owl.carousel.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{url_for('static', filename='css/theme.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">
    <div class="nav-container">
        <nav>
            <div class="nav-bar nav--absolute nav--transparent" data-fixed-at="700">
                <div class="nav-module logo-module left">
                    <a href="#"><img alt="logo" class="logo logo-dark" src="{{url_for('static', filename='img/logo.png')}}"> <img alt="logo" class="logo logo-light" src="{{url_for('static', filename='img/logo.png')}}"></a>
                </div>
                <div class="nav-module menu-module left">
                    <ul class="menu">
                        <li class="vpe">
                            <a href="" target="_blank">Login</a>
                        </li>
                        <li class="vpe">
                            <a href="" target="_blank">Sign up</a>
                        </li>
                        <li class="vpe">
                            <a href="" target="_blank">Docs</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-module menu-module right" style="padding-right: 20px;">
                    <a class="btn btn--primary vpe" href="">Contact Us</a>
                </div>
            </div>
            <!-- <div class="nav-mobile-toggle visible-sm visible-xs">
                    <i class="icon-Align-JustifyAll icon icon--sm"></i>
                </div> -->
        </nav>
    </div>
    <div class="main-container">
        <section class="height-100 imagebg" data-overlay="0">
            <div class="background-image-holder">
                <img alt="image" src="{{url_for('static', filename='img/laborbg.png')}}">
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-md-11 col-sm-11">
                        <h3 style="color:#51555C;">Intelligent Supporter Management and Fundraising platform for modern Non-profits</h3>
                        <p>
                            <div class="sub_text">Get maximum engagement out of your users</div>
                        </p>
                        <a class="btn btn--primary vpe" href="" target="_blank">
                            <span class="btn__text">
                                    Sign up now
                                </span>
                        </a>
                        <a class="btn btn--primary vpe" target="_blank" href="">
                            <span class="btn__text">
                                    Read the docs
                                </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="subscribe__title">
                        <h2 style="padding-bottom:10px;">Sample Use-Cases</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature boxed feature-1 text-center">
                            <i class="icon icon-Conference"></i>
                            <h5>User Engagement</h5>
                            <p>Get notified if users are lost, send custom notifications to your supporters and donors.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature boxed feature-1 text-center">
                            <i class="icon icon-Visa"></i>
                            <h5>Secured Donation API</h5>
                            <p>Accept donations and volunteers via your website using our Donation API without any hassle.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature boxed feature-1 text-center">
                            <i class="icon icon-Bar-Chart"></i>
                            <h5>Custom analytics</h5>
                            <p>Get analytics on your userbase, daily activity on your campaigns, outreach of the advertisements.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature boxed feature-1 text-center">
                            <i class="icon icon-Big-Data"></i>
                            <h5>NLP queries on your database</h5>
                            <p>Database, as easy to use as talking with a colleague. Never fiddle with complicated dials or unresponsive filters</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature boxed feature-1 text-center">
                            <i class="icon icon-Laptop-Phone"></i>
                            <h5>Mobile, on the go (β)</h5>
                            <p>Managing your support on the mobile is the fastest and the quickest way to address your supporters</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature boxed feature-1 text-center">
                            <i class="icon icon-Coding"></i>
                            <h5>We ♥ Open Source</h5>
                            <p>We love working with developers and startups to bring their applications to life. <a href="">Contact us</a>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // -->
        <!--       <div class="desc-block">
            <h3>Design meets function.</h3>
            <p>We've done the seemingly impossible: design a database you'll actually enjoy using. See the state of your organization at a glance, or in incredible detail, down to checking if a key supporter has opened your latest marketing email.</p>
        </div>
        <div class="sub-desc">Create groupings of supporters for events, contact, or fundraisers.</div>
        <div class="sub-desc sub-desc-2">Search supporters in your current group using natural language.</div>
        <img class="macbook" src=img/macbook.png>
        <div class="desc-block desc-block-2">
            <h3>Foresight.</h3>
            <p>Manually creating groupings of supporters can be useful, but often times is cumbersome and becomes unorganized. causeOS understands traits about your supporters and can automatically categorize them for you. Anything our natural language search can understand can also be added as a group. Ex. Locations, events, volunteers.</p>
        </div> -->
        <!--  -->
        <section class="features">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="subscribe__title">
                        <h2 style="padding-bottom:10px;">Design meets function</h2>
                    </div>
                </div>
                <div class="col-sm-6 col-md-offset-3 text-center" style="padding-bottom:50px;">
                    We've done the seemingly impossible: design a database you'll actually enjoy using. See the state of your organization at a glance, or in incredible detail, down to checking if a key supporter has opened your latest marketing email.
                </div>
            </div>
            <div class="container text-center">
                <div class="sub-desc">Create groupings of supporters for events, contact, or fundraisers.</div>
                <div class="sub-desc sub-desc-2">Search supporters in your current group using natural language.</div>
                <img class="macbook" src="{{url_for('static', filename='img/macbook.png')}}" />
                <div class="desc-block desc-block-2">
                    <h3>Foresight.</h3>
                    <p>Manually creating groupings of supporters can be useful, but often times is cumbersome and becomes unorganized. supportIQ understands traits about your supporters and can automatically categorize them for you. Anything our natural language search can understand can also be added as a group. Ex. Locations, events, volunteers.</p>
                </div>
            </div>
        </section>
        <section class="features features-10">
            <div class="feature bg--white col-md-4 text-center">
                <i class="icon icon--lg icon-Visa"></i>
                <h4>Donation API</h4>
                <p>
                    Add our donation API to your own websites using REST and take payments from your supporters without any hassle</p>
            </div>
            <div class="feature bg--primary col-md-4 text-center" style="background-color:#e27178;">
                <i class="icon icon--lg icon-Dashboard"></i>
                <h4></h4>
                <p>
                    Supporters are securely saved into your database</p>
            </div>
            <div class="feature bg--secondary col-md-4 text-center" style="background-color:white;">
                <i class="icon icon--lg icon-Smartphone"></i>
                <p>
                Get notified on the activity on your campaigns, reach out to your supporters mobile.
                </p>
            </div>
        </section>
        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="elements--title">
                            <h2 style="padding-bottom:10px;">Pricing</h2>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricing pricing-1 text-center">
                            <i class="icon icon--lg icon-Mustache-2"></i>
                            <h6>Starter</h6>
                            <div class="pricing__price">
                                <span class="h1">Free</span>
                            </div>
                            <hr>
                            <p>100 Users For Free</p>
                            <a class="btn btn--primary vpe" href="" target="_blank">
                                <span class="btn__text">
                                        SIGN UP NOW</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricing pricing-1 text-center">
                            <i class="icon icon--lg icon-Mustache-3"></i>
                            <h6>Freelancer</h6>
                            <div class="pricing__price">
                                <span class="pricing__dollar h5">$</span>
                                <span class="h1">49.00</span>
                            </div>
                            <hr>
                            <p>$49/mo. Up to 10000 users per month.</p>
                            <a class="btn btn--primary vpe" href="" target="_blank">
                                <span class="btn__text">
                                        SIGN UP NOW</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricing pricing-1 text-center">
                            <i class="icon icon--lg icon-Mustache-4"></i>
                            <h6>ENTERPRISE</h6>
                            <div class="pricing__price">
                                <span class="h1">Custom</span>
                            </div>
                            <hr>
                            <p>Contact us for up to 10x cheaper and custom endpoints.</p>
                            <a class="btn btn--primary vpe" href="#" data-toggle="modal" data-target="#myModal">
                                <span class="btn__text">CONTACT US</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="subscribe subscribe-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="subscribe__title">
                            <h4>Get Started Today.</h4>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-12">
                        <div class="row">
                            <a class="btn btn--primary vpe" href="" target="_blank">
                                <span class="btn__text">
                        Sign up now
                    </span>
                            </a>
                            <a class="btn btn--primary vpe" target="_blank" href="">
                                <span class="btn__text">
                        Read the docs
                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="{{url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/scrollreveal.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/parallax.js')}}"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>
