<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<!-- Specific Page Data -->
<!-- End of Data -->

<head>
    <meta charset="utf-8" />
    <title>User Profile Pages HTML Template - Responsive Multipurpose Admin Templates | Vendroid</title>
    <meta name="keywords" content="HTML5 Template, CSS3, All Purpose Admin Template, Vendroid" />
    <meta name="description" content="User Profile Pages - Responsive Admin HTML Template">
    <meta name="author" content="Venmond">
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{url_for('static', filename='img/ico/apple-touch-icon-144-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url_for('static', filename='img/ico/apple-touch-icon-114-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{url_for('static', filename='img/ico/apple-touch-icon-72-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img/ico/apple-touch-icon-57-precomposed.png')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/ico/favicon.png')}}">
    <!-- CSS -->
    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="css/font-awesome-ie7.min.css"><![endif]-->
    <link href="{{url_for('static', filename='css/font-entypo.css')}}" rel="stylesheet" type="text/css">
    <!-- Fonts CSS -->
    <link href="{{url_for('static', filename='css/fonts.css')}}" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="{{url_for('static', filename='plugins/jquery-ui/jquery-ui.custom.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='plugins/prettyPhoto-plugin/css/prettyPhoto.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='plugins/isotope/css/isotope.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='plugins/pnotify/css/jquery.pnotify.css')}}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='plugins/google-code-prettify/prettify.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='plugins/mCustomScrollbar/jquery.mCustomScrollbar.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='plugins/tagsInput/jquery.tagsinput.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='plugins/bootstrap-switch/bootstrap-switch.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='plugins/daterangepicker/daterangepicker-bs3.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='plugins/bootstrap-timepicker/bootstrap-timepicker.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='plugins/colorpicker/css/colorpicker.css')}}" rel="stylesheet" type="text/css">
    <!-- Specific CSS -->
    <!-- Theme CSS -->
    <link href="{{url_for('static', filename='css/theme.min.css')}}" rel="stylesheet" type="text/css">
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" > <![endif]-->
    <link href="{{url_for('static', filename='css/chrome.css')}}" rel="stylesheet" type="text/chrome">
    <!-- chrome only css -->
    <!-- Responsive CSS -->
    <link href="{{url_for('static', filename='css/theme-responsive.min.css')}}" rel="stylesheet" type="text/css">
    <!-- for specific page in style css -->
    <!-- for specific page responsive in style css -->
    <!-- Custom CSS -->
    <link href="{{url_for('static', filename='custom/custom.css')}}" rel="stylesheet" type="text/css">
    <!-- Head SCRIPTS -->
    <script type="text/javascript" src="{{url_for('static', filename='js/modernizr.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/mobile-detect.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/mobile-detect-modernizr.js')}}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="{{url_for('static', filename='js/html5shiv.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='js/respond.min')}}.js"></script>
    <![endif]-->
</head>

<body id="pages" class="full-layout  nav-right-hide nav-right-start-hide  nav-top-fixed      responsive    clearfix remove-navbar nav-left-hide" data-active="pages " data-smooth-scrolling="1">
    <div class="vd_body">
        <div class="content">
            <div class="container">
                <!-- Middle Content Start -->
                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">
                            <div class="vd_title-section clearfix">
                                <div class="vd_panel-header no-subtitle">
                                    <h1>User Profile Page</h1>
                                </div>
                            </div>
                            <div class="vd_content-section clearfix">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="panel widget light-widget panel-bd-top">
                                            <div class="panel-heading no-title"> </div>
                                            <div class="panel-body">
                                                <div class="text-center vd_info-parent"> <img alt="example image" src="{{url_for('static', filename='img/avatar/big.jpg')}}"> </div>
                                                <h2 class="font-semibold mgbt-xs-5">Mariah Caraiban</h2>
                                                <p>Ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="tabs widget">
                                            <div class="tab-content">
                                                <div id="profile-tab" class="tab-pane active">
                                                    <div class="pd-20">
                                                        <div class="vd_info tr">
                                                            <a class="btn vd_btn btn-xs vd_bg-yellow"> <i class="fa fa-pencil append-icon"></i> Edit </a>
                                                        </div>
                                                        <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="icon-user mgr-10 profile-icon"></i> ABOUT</h3>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="row mgbt-xs-0">
                                                                    <label class="col-xs-5 control-label">First Name:</label>
                                                                    <div class="col-xs-7 controls">Mariah</div>
                                                                    <!-- col-sm-10 -->
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row mgbt-xs-0">
                                                                    <label class="col-xs-5 control-label">Last Name:</label>
                                                                    <div class="col-xs-7 controls">Caraiban</div>
                                                                    <!-- col-sm-10 -->
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row mgbt-xs-0">
                                                                    <label class="col-xs-5 control-label">User Name:</label>
                                                                    <div class="col-xs-7 controls">Mariah</div>
                                                                    <!-- col-sm-10 -->
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row mgbt-xs-0">
                                                                    <label class="col-xs-5 control-label">Email:</label>
                                                                    <div class="col-xs-7 controls">mariah@Vendroid.com</div>
                                                                    <!-- col-sm-10 -->
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row mgbt-xs-0">
                                                                    <label class="col-xs-5 control-label">City:</label>
                                                                    <div class="col-xs-7 controls">Los Angeles</div>
                                                                    <!-- col-sm-10 -->
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row mgbt-xs-0">
                                                                    <label class="col-xs-5 control-label">Country:</label>
                                                                    <div class="col-xs-7 controls">United States</div>
                                                                    <!-- col-sm-10 -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="photos-tab" class="tab-pane">
                                                            <div class="pd-20">
                                                                <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-picture-o mgr-10 profile-icon"></i> Volunteered</h3>
                                                                <br/>
                                                                <div class="isotope js-isotope vd_gallery">
                                                                    <div class="gallery-item  filter-1">
                                                                        <a href="img/photos/01.jpg')}}" data-rel="prettyPhoto[2]">
                                                                            <img alt="example image" src="{{url_for('static', filename='img/photos/01.jpg')}}">
                                                                            <div class="bg-cover"></div>
                                                                        </a>
                                                                        <div class="vd_info">
                                                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Felicious</span> de louis amigos</h3>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/01.jpg')}}" data-rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="gallery-item  filter-2">
                                                                        <a href="img/photos/03.jpg')}}" data-rel="prettyPhoto[2]">
                                                                            <img alt="example image" src="{{url_for('static', filename='img/photos/03.jpg')}}">
                                                                            <div class="bg-cover"></div>
                                                                        </a>
                                                                        <div class="vd_info">
                                                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Sola</span> Aprecios</h3>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/03.jpg')}}" data-rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="gallery-item  filter-2">
                                                                        <a href="img/photos/08.jpg')}}" data-rel="prettyPhoto[2]">
                                                                            <img alt="example image" src="{{url_for('static', filename='img/photos/08.jpg')}}">
                                                                            <div class="bg-cover"></div>
                                                                        </a>
                                                                        <div class="vd_info">
                                                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Lorem</span> ipsum</h3>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/08.jpg')}}" data-rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <!-- pd-20 -->
                                                        </div>
                                                        <!-- photos tab -->
                                                        <div id="photos-tab" class="tab-pane">
                                                            <div class="pd-20">
                                                                <div class="vd_info tr">
                                                                    <a class="btn vd_btn btn-xs vd_bg-yellow"> <i class="fa fa-plus append-icon"></i> Add Photo </a>
                                                                </div>
                                                                <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-picture-o mgr-10 profile-icon"></i> My Campaigns</h3>
                                                                <br/>
                                                                <div class="isotope js-isotope vd_gallery">
                                                                    <div class="gallery-item  filter-1">
                                                                        <a href="img/photos/11.jpg')}}" data-rel="prettyPhoto[2]">
                                                                            <img alt="example image" src="{{url_for('static', filename='img/photos/11.jpg')}}">
                                                                            <div class="bg-cover"></div>
                                                                        </a>
                                                                        <div class="vd_info">
                                                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Some</span> random text</h3>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/12.jpg')}}" data-rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="gallery-item  filter-3">
                                                                        <a href="img/photos/13.jpg')}}" data-rel="prettyPhoto[2]">
                                                                            <img alt="example image" src="{{url_for('static', filename='img/photos/13.jpg')}}">
                                                                            <div class="bg-cover"></div>
                                                                        </a>
                                                                        <div class="vd_info">
                                                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Soleram</span> drago</h3>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/13.jpg')}}" data-rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="gallery-item  filter-2">
                                                                        <a href="img/photos/14.jpg')}}" data-rel="prettyPhoto[2]">
                                                                            <img alt="example image" src="{{url_for('static', filename='img/photos/14.jpg')}}">
                                                                            <div class="bg-cover"></div>
                                                                        </a>
                                                                        <div class="vd_info">
                                                                            <h3 class="mgbt-xs-15"><span class="font-semibold">Gretia</span> de louis </h3>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="img/photos/14.jpg')}}" data-rel="prettyPhoto[1]"><i class="fa fa-search"></i></a>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-thumbs-up"></i></a>
                                                                            <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#"><i class="fa fa-comments"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <!-- pd-20 -->
                                                        </div>
                                                        <!-- photos tab -->
                                                    </div>
                                                </div>
                                                <!-- pd-20 -->
                                            </div>
                                        </div>
                                        <!-- tab-content -->
                                    </div>
                                    <!-- tabs-widget -->
                                </div>
                            </div>
                            <!-- row -->
                        </div>
                        <!-- .vd_content-section -->
                    </div>
                    <!-- .vd_content -->
                </div>
                <!-- .vd_container -->
            </div>
            <!-- .vd_content-wrapper -->
            <!-- Middle Content End -->
        </div>
        <!-- .container -->
        <!-- .content -->
        <!-- Footer Start -->
        <footer class="footer-1" id="footer">
            <div class="vd_bottom ">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="copyright">
                                Copyright &copy;2016 supportiq All Rights Reserved
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
        </footer>
        <!-- Footer END -->
    </div>
    <!-- .vd_body END  -->
    <a id="back-top" href="#" data-action="backtop" class="vd_back-top visible"> <i class="fa  fa-angle-up"> </i> </a>
    <!--
<a class="back-top" href="#" id="back-top"> <i class="icon-chevron-up icon-white"> </i> </a> -->
    <!-- Javascript =============================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <!--[if lt IE 9]>
  <script type="text/javascript" src="{{url_for('static', filename='js/excanvas.js')}}"></script>
<![endif]-->
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='plugins/jquery-ui/jquery-ui.custom.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/caroufredsel.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/plugins.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='plugins/breakpoints/breakpoints.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='plugins/dataTables/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='plugins/prettyPhoto-plugin/js/jquery.prettyPhoto.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='plugins/tagsInput/jquery.tagsinput.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='plugins/bootstrap-switch/bootstrap-switch.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='plugins/blockUI/jquery.blockUI.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='plugins/pnotify/js/jquery.pnotify.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/theme.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='custom/custom.js')}}"></script>
    <!-- Specific Page Scripts Put Here -->
    <script type="text/javascript" src="{{url_for('static', filename='plugins/isotope/isotope.pkgd.min.js')}}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        "use strict";

        // init Isotope
        var $container = $('.isotope').isotope({
            itemSelector: '.gallery-item',
            layoutMode: 'fitRows'
        });


        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            $container.isotope('layout');
        });

        // bind filter button click
        $('#filters').on('click', 'a', function() {
            var filterValue = $(this).attr('data-filter');
            $('#filters li').removeClass('active');
            $(this).parent().addClass('active');
            $container.isotope({
                filter: filterValue
            });
        });


    });
    </script>
    <!-- Specific Page Scripts END -->
    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-43329142-3']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    </script>
</body>

</html>
